<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Form Đăng Kí</title>
</head>
<body ng-app="myapp">
    <form name="DangKi" ng-controller="myCtrl" ng-submit="mySubmit()">
        <h2>ĐĂNG KÍ THÀNH VIÊN</h2>
        <div class="hang">
            <div class="name">Mã Sinh Viên</div>
            <input type="text" name="MaSV" required ng-model="MaSV">
            <label class="error" ng-show="DangKi.MaSV.$invalid">Mã SV không được trống</label>
        </div>
        <div class="hang">
            <div class="name">Họ Tên</div>
            <input type="text" name="HoTen" required ng-model="HoTen">
            <label class="error" ng-if="DangKi.HoTen.$invalid">Họ tên SV không được trống</label>
        </div>
        <div class="hang">
            <div class="name">Email</div>
            <input type="email" name="Email" required ng-model="Email">
            <label class="error"  ng-if="DangKi.Email.$invalid">Email không được trống</label>
        </div>
        <div class="hang">
            <div class="name">Giới Tính</div>
            <fieldset>
                <label><input type="radio" name="GioiTinh" id="Men" value="Men" ng-model="GioiTinh"> Nam</label>
                <label><input type="radio" name="GioiTinh" id="Women" value="Women" ng-model="GioiTinh"> Nữ</label>
                <label class="error" ng-if='!GioiTinh'>Phải chọn giới tính</label>
            </fieldset>
        </div>
        <div class="hang">
            <div class="name">Sở Thích</div>
            <fieldset>
                <label><input type="checkbox" name="SoThich" value="Reading" ng-model="Reading"> Đọc sách</label>
                <label><input type="checkbox" name="SoThich" value="Travel"  ng-model="Travel"> Du Lịch</label>
                <label><input type="checkbox" name="SoThich" value="Foods"   ng-model="Foods"> Ẩm Thực</label>
                <label><input type="checkbox" name="SoThich" value="Music"   ng-model="Music"> Âm Nhạc</label>
                <label><input type="checkbox" name="SoThich" value="Khac"    ng-model="Khac"> Khác</label>
                <label class="error" ng-show="!Reading && !Travel && !Foods && !Music && !Khac">Phải chọn sở thích</label>
            </fieldset>
        </div>
        <div class="hang">
            <div class="name">Quốc Tịch</div>
            <select name="QuocTich" id="" placeholder="Quốc Tịch" required ng-model="QuocTich">
                <option value=""  >Chọn quốc tịch</option>
                <option value="VN">Việt Nam</option>
                <option value="CB">Cuba</option>
                <option value="RS">Nga</option>
            </select>
            <p></p>
            <label class="error" ng-show="DangKi.QuocTich.$invalid">Phải chọn Quốc Tịch</label>
        </div>
        <div class="hang">
            <div class="name">Ghi Chú</div>
            <textarea></textarea>
        </div>
        <button type="submit">Đăng Kí</button>
    </form>
    <script>
        var app = angular.module("myapp",[]);
        app.controller("myCtrl", function($scope) {
            $scope.mySubmit = function () {
                if( ($scope.MaSV !="" && $scope.HoTen !="" && $scope.Email!="") && 
                    ($scope.GioiTinh =="Men" || $scope.GioiTinh =="Women" ) && 
                    ($scope.Reading || $scope.Travel || $scope.Foods || $scope.Music || $scope.Khac) && 
                    $scope.QuocTich != ""){ alert("Đăng kí thành công"); }
                else{ alert("Đăng kí không thành công"); }
            } 
        });
    </script>
</body>
</html>
